<div class="form-booking">
  <%= simple_form_for([@lair,@booking]) do |f| %>
  <%= f.input :check_in %>
  <%= f.input :check_out  %>
    <div class="form-btn">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
