<div class="form-login p-5">
  <h1 class="pb-4">Editing booking</h1>

  <%= render "form", booking: @booking %>
</div>
<br>

<div>
  <%= link_to "Show this booking", @booking %> |
  <%= link_to "Back to bookings", bookings_path %>
</div>
