<div class="page-container">
  <div class="form-new">

    <h1>New booking</h1>

    <%= render "form", lair: @lair, booking: @booking %>

  </div>
  <%= image_tag "border.png", class: "page-border" %>
</div>
<%# <div class="mt-5">
  <%= link_to "Back to bookings", bookings_path %>
<%# </div> %>
