<div class="hero-banner">
  <section class="carousel" aria-label="Hero Carousel">
    <div class="carousel__viewport">
      <div class="carousel__slide" id="slide1">
        <img src="/assets/lair1.jpg" alt="Lair 1" class="carousel-image">
      </div>
      <div class="carousel__slide" id="slide2">
        <img src="/assets/lair2.jpg" alt="Lair 2" class="carousel-image">
      </div>
      <div class="carousel__slide" id="slide3">
        <img src="/assets/lair3.jpg" alt="Lair 3" class="carousel-image">
      </div>
      <div class="carousel__slide" id="slide4">
        <img src="/assets/lair4.jpg" alt="Lair 4" class="carousel-image">
      </div>
      <div class="carousel__slide" id="slide5">
        <img src="/assets/lair5.jpg" alt="Lair 5" class="carousel-image">
      </div>
      <div class="carousel__slide" id="slide6">
        <img src="/assets/lair6.jpg" alt="Lair 6" class="carousel-image">
      </div>
      <div class="carousel__slide" id="slide7">
        <img src="/assets/lair7.jpg" alt="Lair 7" class="carousel-image">
      </div>
    </div>
    <%# <a href="#slide4" class="carousel__prev" aria-label="Previous Slide"></a> %>
    <%# <a href="#slide2" class="carousel__next" aria-label="Next Slide"></a> %>

  </section>
  <div class="text-container">
    <div class="hero-text">
      <h1>Still plotting in a cave? Pathetic.</h1>
      <p>Upgrade your villainy today.</p>
    </div>
  </div>
  <a class="neon-button" data-action="click->toggle#fire">Book Now!</a>
</div>
