<div class="hero-banner">
  <section class="carousel" aria-label="Hero Carousel">
    <ol class="carousel__viewport">
      <li id="carousel__slide1" tabindex="0" class="carousel__slide">
        <div class="carousel__snapper">
          <img src="/assets/lair1.jpg" alt="Lair 1" class="carousel-image">
          <a href="#carousel__slide4" class="carousel__prev">Go to last slide</a>
          <a href="#carousel__slide2" class="carousel__next">Go to next slide</a>
        </div>
      </li>
      <li id="carousel__slide2" tabindex="0" class="carousel__slide">
        <div class="carousel__snapper">
          <img src="/assets/lair2.jpg" alt="Lair 2" class="carousel-image">
          <a href="#carousel__slide1" class="carousel__prev">Go to previous slide</a>
          <a href="#carousel__slide3" class="carousel__next">Go to next slide</a>
        </div>
      </li>
      <li id="carousel__slide3" tabindex="0" class="carousel__slide">
        <div class="carousel__snapper">
          <img src="/assets/lair3.jpg" alt="Lair 3" class="carousel-image">
          <a href="#carousel__slide2" class="carousel__prev">Go to previous slide</a>
          <a href="#carousel__slide4" class="carousel__next">Go to next slide</a>
        </div>
      </li>
      <li id="carousel__slide4" tabindex="0" class="carousel__slide">
        <div class="carousel__snapper">
          <img src="/assets/lair4.jpg" alt="Lair 4" class="carousel-image">
          <a href="#carousel__slide3" class="carousel__prev">Go to previous slide</a>
          <a href="#carousel__slide1" class="carousel__next">Go to first slide</a>
        </div>
      </li>
    </ol>
    <aside class="carousel__navigation">
      <ol class="carousel__navigation-list">
        <li class="carousel__navigation-item">
          <a href="#carousel__slide1" class="carousel__navigation-button">Go to slide 1</a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide2" class="carousel__navigation-button">Go to slide 2</a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide3" class="carousel__navigation-button">Go to slide 3</a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide4" class="carousel__navigation-button">Go to slide 4</a>
        </li>
      </ol>
    </aside>
  </section>
  <div class="cta-container">
    <a href="/explore" class="neon-button">Explore Villainous Lairs</a>
  </div>
</div>
