<div class="form-new">
  <h1>Editing lair</h1>

  <%= render "form", lair: @lair %>

  <div class="mt-2" >
    <%= link_to "Show this lair", lair_path %> |
    <%= link_to "Back to lairs", lairs_path %>
  </div>
</div>
