.your-booking-container{
  margin: auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  img{
    width: 400px;
    padding: 15px 0px;
  }
  a{
    size: 20px;
  }
}

.your-booking-card{
  margin: auto;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  p{
    font-size: 20px;
  }
  h3 {
    color: greenyellow;
    padding: 20px 0px;
    font-weight: lighter;
  }
  span {
    color: greenyellow;
  }
}
.smaller-text{
  font-size: 1rem;
}
.booking-btn-container{
  margin-top: 20px;
}
.booking-delete-button{
  background-color: red;
  color: white;
  padding: 10px;
  margin: 25px;
}
