.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0);
  height: 56px;
  color: white;
  width: 100%;
}

.page-title {

}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }
.navbar-logo {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.logo {
  height: 40px;
}

.menu {
  position: absolute;
  top: 10px; /* Positions near the top */
  right: 10px;
  z-index: 1010; /* Ensures it stays above the image */
}

.menu ul {
  list-style: none; /* Removes default bullet points */
  margin: 0;
  padding: 0;
  display: flex; /* Aligns menu items horizontally */
  gap: 15px; /* Spacing between items */
}
