.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f0e37;
  height: 56px;
  color: white;
  width: 100%;
  text-align: center;
}

.page-title h1 {
  font-family: "Metal Mania";
}

.page-title {
  background: linear-gradient(45deg, #affc41, #add766, #affc41, #add766);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(36, 255, 83, 0.5);
  background-size: 150%;
  animation: shimmerGradient 2s infinite alternate-reverse;
  margin-right: 40px;
}

@keyframes shimmerGradient {
  0% {
    background-position: -200% -200%;
  }
  100% {
    background-position: 200% 200%;
  }
}
// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }
.navbar-logo {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 40px;
}

.menu {
  position: absolute;
  right: 10px;
  z-index: 1010; /* Ensures it stays above the image */
}

.menu ul {
  list-style: none; /* Removes default bullet points */
  margin: 0;
  padding: 0;
  display: flex; /* Aligns menu items horizontally */
  gap: 15px; /* Spacing between items */
}
