@import "stars";

.show-container{
  margin: 5px;
  align-items: center;
  overflow: hidden;
}
.show-card{
  margin: auto;
  width: 50%;
  margin-bottom: 50px;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  p{
    font-size: 20px;
  }
  h3 {
    color: greenyellow;
  }
  strong {
    color: greenyellow;
    font-weight: bolder;
  }
}

.show-img-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  max-width: 600px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.show_viewport {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
  object-position: center;
  img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
}

.show_slide {
  flex: 0 0 100%;
  overflow: hidden;
}

.show__prev,
.show__next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.show__prev {
  left: 10px;
}

.show__next {
  right: 10px;
}

.show__prev:hover,
.show__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.btns-container {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0px 10px;
  }
