@import "stars";

.show-container{
  width:  900px;
  margin: auto;
  margin-top: 50px;
  align-items: center;
  overflow: hidden;
  img{
    height: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.show-card{
  width: 100%;
  margin-bottom: 100px;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  p{
    font-size: 20px;
  }
  h3 {
    color: greenyellow;
  }
  strong {
    color: greenyellow;
    font-weight: bolder;
  }
}
