.scull-rating {
  direction: rtl;
  font-size: 2rem;
  unicode-bidi: bidi-override;
  display: inline-flex;
  cursor: pointer;
  }
  .scull-rating input[type="radio"] {
  display: none;
  }
  .scull-rating label {
  color: #ccc;
  padding: 0 5px;
  transition: color 0.2s;
  }
  .scull-rating input[type="radio"]:checked ~ label,
  .scull-rating label:hover,
  .scull-rating label:hover ~ label {
  color: #affc41;
  }
  .fa-scull{
  color: #affc41;
  }
