.star-rating {
  direction: rtl;
  font-size: 2rem;
  unicode-bidi: bidi-override;
  display: inline-flex;
  cursor: pointer;
  }
  .star-rating input[type="radio"] {
  display: none;
  }
  .star-rating label {
  color: #ccc;
  padding: 0 5px;
  transition: color 0.2s;
  }
  .star-rating input[type="radio"]:checked ~ label,
  .star-rating label:hover,
  .star-rating label:hover ~ label {
  color: #f5b301;
  }
  .fa-star{
  color: #f5b301
  }
