// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // height: 100%;
  font-family: "Glass Antiqua";
  background-color: #020d1e;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1, h2  {
  font-family: "Amarante";
}

a {
  text-decoration: none;
  color: #affc41;
  text-shadow: 0 0 4px rgba(174, 215, 102, 0.722);
}

a:hover {
  color: #ff69d0;
  text-shadow: 0 0 4px #ff26ba9e;
}

.lair-image {
  width: 200px;
}
