<div class="footer">
  <div class="copyright">
    <p>© 2025 Villains Inc.</p>
  </div>
  <div class="made-by">
    <p><i class="fa-solid fa-skull-crossbones"></i>This website was made by evil<i class="fa-solid fa-skull-crossbones"></i></i></p>
  </div>
  <div class="socials">
  <ul>
    <li><a href="#"><i class="fa-solid fa-bomb"></i></a></li>
    <li><a href="#"><i class="fa-solid fa-skull"></i></a></li>
    <li><a href="#"><i class="fa-solid fa-ghost"></i></a></li>
  </ul>
  </div>
</div>
