<div class="navbar">
  <div class="navbar-logo">
    <%= link_to root_path do %>
      <%= image_tag 'house-logo.png', class: "logo" %>
    <% end %>
    <div class="page-title">
      <h1>VillainouS VillaS</h1>
    </div>
  </div>
  <div class="menu">
    <ul class="navbar-links">
      <li><a href="<%= lairs_path %>">Home</a></li>
      <li><a href="#">New Lair</a></li>
      <%# <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li> %>
    </ul>
  </div>
</div>
